#header-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 140px;
    background: #9D1C30;
    margin-bottom: 20px;
}

#header-container .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
}

#header-container .header-logo img {
    width: 150px;
    height: 50px;
}

#header-container .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(27, 23, 23);
    width: 100vw;
    height: 70px;
}

#header-container .nav-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-container .nav-container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-right: 20px;
}

#header-container .nav-container ul li:last-child {
    margin-right: 0;
}

#header-container .nav-container ul li a {
    transform: translateZ(0);
    position: relative;
    color: #fff;
    font: 500 16px Poppins;
}

#header-container .nav-container ul li .active {
    color: #F31212;
    font: 700 18px Poppins;
    cursor: pointer;
}

#header-container .nav-container ul li a:hover {
    color: #F31212;
    transition: color 0.3s ease-out;   
}

#header-container .nav-container ul li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #F31212;
    height: 2px;
    transition: right 0.3s ease-out;
}

#header-container .nav-container ul li a:hover:before {
    right: 0;
    color: #F31212;
}

.dropdown {
    position: relative;
    display: block;
    font: 500 16px Poppins;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.dropdown:hover {
    color: #f31212;
    transition: color .3s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d5d5d5;
    min-width: 217px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    border: 1px solid #d5d5d5;
    z-index: 1;
}

.dropdown-content svg {
    font-size: 18px;
    margin-right: 15px;
    color: rgba(27, 23, 23);
}

.dropdown-content a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px;
    color: rgba(27, 23, 23);
    font: 500 14px Poppins;
    border-bottom: 1px solid #fff;
    border: 1px solid #d5d5d5;
}

.dropdown-content a:first-child {
    border-radius: 8px 8px 0 0;
}

.dropdown-content a:last-child {
    border-bottom: 0;
    border-radius: 0 0 8px 8px;
}

.dropdown .button {
    border-radius: 0;
    background: #fff;
}

.dropdown-content a:hover, .dropdown-content a:hover svg {
    font-weight: 700;
    color: #f31212;
    transition: all 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}