#wellcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.logo-wellcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 65vh;
  padding: 0 100px;
}

.logo-wellcome .logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.logo-wellcome .logo img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 500px;
  height: 200px;
}

.logo-wellcome .logo strong {
  margin-top: 25px;
  font: 700 28px Poppins;
  color: #fff;
}

.logo-wellcome .logo p {
  font: 500 16px Poppins;
  color: #a3a3a3;
}

.logo-wellcome .img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.chooses {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 35vh;
  background: var(--crimson);
}

.chooses .buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font: 500 20px Poppins;
  background: rgb(23,24,24);
  color: #f31212;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
  width: auto;
  height: 84px;
  padding: 20px;
}
.btnHome .button,   
.btnView .button {  
  margin-right: 45px;
}
.btnNew.button {
  margin-right: 0;
}
.button svg {
  font-size: 32px;
  margin-right: 20px;
  color: #ffffff;
}

.button:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  background-color: #f31212;
  transition: all 0.2s ease-out;
}
.button:hover:before {
  animation: shine 0.5s 0s linear;
}
.button:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}
.button:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 15px 3px #fff;
  transform: skewX(-15deg);
}

@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}