#ticket-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

#ticket-info .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1300px;
    background: rgb(28, 28, 28);
    box-shadow: 0 0 15px rgb(24, 25, 26);
    border: 0;
    border-radius: 12px;
    padding: 50px 30px;
    width: 100%;
    margin: 40px 0;
    color: #fff;
}

#ticket-info .content-ticket {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 1200px;
    background: rgb(32, 32, 32);
    box-shadow: 0 0 12px rgb(16, 16, 16);
    border-radius: 8px;
    padding: 10px 20px;
}

#ticket-info .header-ticket {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid #333;
    font: 600 24px Poppins;
    position: relative;
}

#ticket-info .header-ticket label {
    font: 600 24px Poppins;
    margin-bottom: 10px;
}

#ticket-info .header-ticket .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

#ticket-info .header-ticket .icons .btnEdit {
    border-radius: 50%;
    padding: 10px;
    color: #f0f0f0;
    background: #333;
    box-shadow: 0 0 12px rgb(16, 16, 16);
}

#ticket-info .header-ticket .btnEdit:hover {
    background: rgb(0, 153, 255);
    box-shadow: 0 0 10px rgb(0, 153, 255);
    transition: all .3s ease-in-out;
}

#ticket-info .content-ticket .footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    font: 400 14px Poppins;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

#ticket-info .content-ticket .footer label {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 14px Poppins;
    color: #bbb;
}

#ticket-info .content-ticket .footer label p {
    margin-left: 5px;
    font: 600 13px Poppins;
    color: #fff;
}

#ticket-info .informations {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0 15px;
    border-bottom: 2px solid #333;
    width: 100%;
    height: 100%;
}

#ticket-info .informations>div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
}

#ticket-info .informations p {
    width: 100%;
    overflow: hidden;
}

#ticket-info .informations>div:last-child {
    margin-right: 0;
}

#ticket-info .description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 20px;
    margin: 15px 0;
    width: 100%;
    box-shadow: 0 0 12px rgb(16, 16, 16);
    color: #fff;
    border: 0;
    border-radius: 6px;
}

#ticket-info .description strong {
    font: 600 18px Poppins;
    margin-bottom: 10px;
}

#ticket-info .read-only {
    box-shadow: none !important;
    background: transparent !important;
    resize: none !important;
    min-height: 250px !important;
    height: 100% !important;
    width: 100% !important;
    text-align: justify !important;
    line-height: 35px !important;
    font: 400 15px Poppins !important;
    border: 0 !important;
    color: #fff;
    cursor: default;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgb(24, 25, 26);
    border: 1px solid #333;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 25px;
}

#ticket-info .description textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 300px;
    padding: 20px;
    border: 2px solid #333;
    resize: vertical;
    border-radius: 12px;
    background: rgb(26, 26, 34);
    box-shadow: 0 0 12px rgb(16, 16, 16);
    color: #fff;
    text-align: justify;
    font: 400 14px Poppins;
    margin-bottom: 20px;
}

#ticket-info input, #ticket-info select {
    width: 100%;
    padding: 15px;
    border: 2px solid #333;
    border-radius: 6px;
    font: 400 14px Poppins;
    background: rgb(26, 26, 34);
    box-shadow: 0 0 12px rgb(16, 16, 16);
    color: #fff;
}

#ticket-info input:focus, #ticket-info select:focus, #ticket-info textarea:focus {
    border: 2px solid rgb(0, 153, 255);    
    box-shadow: 0 0 8px rgb(0, 153, 255);
    transition: all 0.3s ease-in-out;
}

#ticket-info .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px 0;
}

#ticket-info .actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    color: #fff;
    background: rgb(37, 38, 39);
    box-shadow: 0 0 12px rgb(16, 16, 16);
    font: 600 14px Poppins;
}

#ticket-info .actions button>svg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 12px;
    color: rgb(0, 153, 255);
}

#ticket-info .actions .btn-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#ticket-info .actions .between {
    justify-content: space-around !important;
}

#ticket-info .actions .between button.animated {
    animation: bounce 3s infinite;
}

#ticket-info .actions .between button.animated:hover {
    background: rgb(0, 153, 255);
    box-shadow: 0 0 10px rgb(0, 153, 255);
    color: #f0f0f0;
    animation: none;
}

#ticket-info .actions button:hover {
    background: rgb(0, 153, 255);
    box-shadow: 0 0 10px rgb(0, 153, 255);
    transition: all .3s ease-in-out;
}

#ticket-info .actions button:hover svg {
    color: #f0f0f0;
    transition: color .3s ease-in-out;
}

#ticket-info .reply-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

#ticket-info .reply-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    background: rgb(32, 32, 32);
    box-shadow: 0 0 12px rgb(16, 16, 16);
    min-height: 115px;
    border-radius: 8px;
    padding: 10px 20px;
}

#ticket-info .reply-container:nth-child(odd) .reply-content {
    background: rgb(26, 26, 34);
    box-shadow: 0 0 12px rgb(16, 16, 16);
}

#ticket-info .reply-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#ticket-info .reply-content .reply-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
    border-bottom: 2px solid #333;
    margin-bottom: 8px;
}

#ticket-info .reply-content .reply-header p {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 13px Poppins;
    color: #777777;
    text-shadow: 0 0 0;
}

#ticket-info .reply-content .reply-header p svg {
    margin-right: 8px;
    color: #777777;
    font-size: 18px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
    }
}