* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

body {
  color: var(--white);
  background: var(--background-body);
  font-family: 'roboto', sans-serif;
  min-height: 100vh;
}

:root {
  --background-body: rgb(41, 32, 32);
  --primary-white: #f0f0f0;
  --white: #fff;
  --black: #000;
  --red: #f31212;
  --crimson: #9D1C30;
  --title: #E6E6F0;
  --text-dark: #9C98A6;
  --background-header: rgb(26,24,24);
  --background-footer: rgb(26,24,24);
}